/*-----------------------HERO SECTION---------------------*/

body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav {
    display: flex;
    top:0;
    background-color: #ced7d8;
   
}

.logo img {
    width: 7rem;
    height: 4rem;
    
}


.phone {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.phone p {
    font-size: 0.9rem;
}

.menu {
    margin-left: 2rem;
    margin-top: 1rem;
}

.hero {
    background-image: url(img/hero.jpg);
    background-repeat: no-repeat;
    background-size: 21rem 27rem;
    height: 30rem;
    padding-top: 0.5rem;
    margin-top: -8rem;
    

}

.headline h1 {
    font-size: 1.4rem;
    line-height: 2rem;
    color:#316879;;
    margin-top: 4rem;
    text-align: center;
}

.hero h1, .hero p {
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.hero p {
    line-height: 1.6rem;
    
}

.cta {
    margin-top: 17rem;
}
.cta a {
    
    text-decoration: none;
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    text-align:center;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: #316879;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 5rem;
    color: #fff;;
    
}



.cta1 a {
    text-decoration: none;
    color: black;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    text-align:center;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    background-color: #ced7d8;
    
}


.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background:  radial-gradient(circle, transparent 1%,  1%) center/15000%;
}
.ripple:active {
    background-color: #718991;
    background-size: 100%;
    transition: background 0s;
}



.menu-wrapper {
    
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    
    
  }
  
  .menu-wrapper .toggle {
    position: absolute;
    top:0;
    left: 19rem;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0;
    
  }
  
  .menu-wrapper .ham {
    position: absolute;
    top: 0.5rem;
    left: 19.5rem;
    z-index: 1;
    width: 30px;
    height: 44px;
    
    display: flex;
    background-color: #ced7d8;
    
  }
  
  
  .menu-wrapper .ham > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #f47a60;
    display: flex;
    transition: all 0.4s ease;
    margin-top: 1.5rem;
  }
  

  .menu-wrapper .ham > div::before,
  .menu-wrapper .ham > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  .menu-wrapper .ham > div::after {
    top: 10px;
  }
  

  .menu-wrapper .toggle:checked + .ham > div {
    transform: rotate(135deg);
  }
  
  .menu-wrapper .toggle:checked + .ham > div:before,
  .menu-wrapper .toggle:checked + .ham > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
 
  .menu-wrapper .toggle:checked:hover + .ham > div {
    transform: rotate(225deg);
  }
  
 
  .menu-wrapper .toggle:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrapper .toggle:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrapper .toggle:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrapper .menu {
    position: fixed;
    top: -5rem;
    left: 8rem;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ced7d8;
  }
  
  .menu-wrapper .menu > div {
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.3s ease;
  }
  
  .menu-wrapper .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .menu-wrapper .menu > div > div > ul > li {
    list-style: none;
    color: #f47a60;
    font-size: 1.2rem;
    padding: 1rem;
    margin-left: -12rem;
    text-transform: uppercase;
    
  }
  
  .menu-wrapper .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  



/*-----------------------ABOUT US ------------------*/


.about-us-wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  color:#316879;
}

.about-us-wrapper h1:before {
  position: absolute;
  content: '';
  border-bottom: 4px solid #f47a60;
  width: 6rem;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  
}

.about-us-wrapper p {
    margin-top: 2rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 3rem;
    
}



.about p {
    text-align: unset;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-title {
    margin-left: 4rem;
}

.about-title i {
    font-size: 2rem;
    margin-right: 1.5rem;
    margin-top: 0.7rem;
    color:#f47a60;
    
}

.about-title h3 {
    color:#316879;
}

.about p {
    width: 19rem;
    margin-left: 1.5rem;
}


.about-title {
    display: flex;
}



/*----------------------- OUR PETS ----------------*/


.title-pets {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  color:#316879;
  margin-top: 3rem;
}

.title-pets:before {
  position: absolute;
  content: '';
  border-bottom: 4px solid #f47a60;
  width: 4rem;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  
}

.title-pets-p {
  margin-top: 2rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-align: center;
}
.pets{
  display: flex;
  height: 30rem;
}

.slideshow-container { 
  padding-right: 1rem;
  position: relative;    
  width: 10rem;
  height: 10rem;
  
}
  

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  color: #f47a60;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 0.3rem 0.3rem 0;
  user-select: none;
  font-size: 2rem;
  margin-top: 10rem;
  

  
}


.next {
  
  border-radius: 0.3rem 0 0 0.3rem;
  margin-left: 15.5rem;
  
}
.prev {
  margin-left: 4rem;
}

.prev:hover, .next:hover {
  background-color:#316879;
}




.pet {
  color: #1e3d59;
  font-size: 2.2rem;
  padding: 0.8rem 1.2rem;
  top: 0;
  
}
.pet img {
  width: 20rem;
  height: 20rem;
  margin-left: -0.5rem;
}

.pet h3 {
font-size: 1rem;
text-transform: uppercase;
}

.pet p {
font-size: 0.9rem;
width: 20rem;
color:black;
line-height: 1.4rem;
}
.pet-more a {
  font-size: 1rem;
  text-decoration: none;
  color:#ff6e40;
  
}

.pet-more i {
  color:#ff6e40;
  font-size: 1.2rem;
  margin-left: 0.7rem;
}

.pet-more {
  display: flex;
  
}
.lines {
  margin-top: 43rem;
  margin-left: 14rem;
}
.line {
  cursor: pointer;
  height: 0.6rem;
  width: 8rem;
  background-color: #ff6e40;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active, .line:hover {
  background-color: #1e3d59;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*--------------------OUR TEAM--------------------*/


.team-wrapper {
  margin-top: 5rem;
}


.team-wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  color:#316879;
  margin-top: 3rem;
}

.team-wrapper h1:before {
  position: absolute;
  content: '';
  border-bottom: 4px solid #f47a60;
  width: 7rem;
  margin-top: 2.5rem;
  margin-left: 2.2rem;
  
}

.team-wrapper p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}


.team-members {
  display: flex;
  margin-top: 2rem;
}



.member {
  margin-left: 2.5rem;
}
.member img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.member h3 {
color:#316879;
font-size: 1rem;
margin-bottom: 0.3rem;
}

.member span {
  color:#ced7d8;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  
}

.member a {
  text-decoration: none;
}


/*------------------ HAPPY STORIES --------------*/


.stories-wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.stories-wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  color:#316879;
  margin-top: 3rem;
}

.stories-wrapper h1:before {
  position: absolute;
  content: '';
  border-bottom: 4px solid #f47a60;
  width: 7rem;
  margin-top: 2.5rem;
  margin-left: 2.2rem;
  
}

.stories-wrapper p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}


.story p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: left;
  width: 80%;
  margin-left: 2rem;
  

}


.story i {
  font-size: 3rem;
  color:#ced7d8;
  margin-left: 2rem;
  margin-top: 1rem;
}




.story-person img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.story-person {
  display: flex;
  margin-left: 2rem;
}

.story-person h3 {
  margin-left: 1rem;
  font-size: 1rem;
  color:#316879;
  margin-bottom: 0.3rem;
}

.story-name span {
  color:#ced7d8;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 1rem;
  
}
