
body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin-left: 1rem;
    margin-right: 1rem;
}
  
h1 {
    font-size: 1rem;
    line-height: 2rem;
    color:#316879;;
    margin-top: 3rem;
    text-transform: uppercase;
    margin-left: 1rem;
}

.title-pets-p {
    margin-top: 1rem;
    margin-left: 1rem;
  font-size: 0.9rem;
  line-height: 1.6rem;
  
}

.back-btn a {
    
    text-decoration: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align:center;
    text-transform: uppercase;
    font-size: 0.9rem;
    border:1px solid #ff9000;
    margin-right: 12rem;
    margin-left: 1rem;
    margin-top: 2rem;
    color: #ff9000;
    border-radius: 7%;
    padding: 0.5rem;
    
}

.team-wrapper {
    margin-top: 4rem;
}
  
  
.team-wrapper h1 {
    font-size: 1.4rem;
    color:#316879;
    margin-top: 3rem;
    margin-left: 0.5rem;
}
  

  
.team-wrapper p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}
  
  
.member {
    margin-left: 0.5rem;
}
.member img {
    width: 20rem;
    height: 18rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
  
.member h3 {
    color:#568b9b;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  }
  
.member span {
    color:grey;
    font-size: 1rem;
  
}


.member p {
    margin-top: -2rem;
    font-size: 0.8rem;
}
  
.member a {
    text-decoration: none;
}

.span-info {
    display: flex;
    justify-content: space-between;
    
}

.span-info p {
    margin-top: 0.5rem;
    
}

.span-info>div span {
    font-size: 0.85rem;
    color:#568b9b;
    font-weight: bold;
    text-transform: uppercase;
}

.span-info>div p {
    font-size: 0.9rem;
    color: gray;
}
  
.career h1 {
    font-size: 1.2rem;
    line-height: 2rem;
    color:#316879;;
    margin-top: 5rem;
    text-transform: none;
}

.career p {
    margin-top: 1rem;
    margin-left: 1rem;
  font-size: 0.9rem;
  line-height: 1.6rem;
  
}


.form-contact{
    padding-bottom: 4rem;
    margin-top: -1rem;
  
  }
  
  
  .contact-container {
    width: 15rem;
    height: 15rem;
    padding: 2rem;
    margin-top: 3rem;
    
  }
  
  .name, .email, .phone, .message {
    width: 15rem;
    padding: 0.6rem;
    border: 1px solid #ccc;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
    resize: vertical;
    border-radius: 7%;
  }
  
  .phone {
    margin-left: 0;
  }
  
  .message {
    height: 7rem;
    
  }
  
  .column2 {
    margin-top: 0.6rem;
    margin-left: 0.5rem;
    margin-bottom: 4rem;
   
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .contact-button a{
    text-decoration: none;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    text-align:center;
    text-transform: uppercase;
    font-size: 0.8rem;
    background-color: #ff9000;
    margin-right: 2rem;
    margin-left: 4rem;
    margin-top: 1rem;
    color: #fff;;
    border-radius: 7%;
    
  }
  
  .contact-button a {
    text-decoration: none;
    color:#fff;
  }
  .contact-form {
    margin-top: -2.5rem;
    
  }
  
  .contact-form label {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: grey;
  }


  .footer-wrapper {
    margin-top: 10rem;
  }
  
  
