
body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin-left: 1rem;
    margin-right: 1rem;
}
  
h1 {
    font-size: 1rem;
    line-height: 2rem;
    color:#316879;;
    margin-top: 3rem;
    text-transform: uppercase;
    margin-left: 1rem;
    z-index: -1;
    
}

.title-pets-p {
    margin-top: 1rem;
    margin-left: 1rem;
  font-size: 0.9rem;
  line-height: 1.6rem;
  
}

.back-btn a {
    
    text-decoration: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align:center;
    text-transform: uppercase;
    font-size: 0.9rem;
    border:1px solid #ff9000;
    margin-right: 12rem;
    margin-left: 1rem;
    margin-top: 2rem;
    color: #ff9000;
    border-radius: 7%;
    padding: 0.5rem;
    
}




.stories-wrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
    
  }
  
  
  .stories-wrapper h1 {
    font-size: 1.2rem;
    position: relative;
    color:#316879;
    margin-top: 3rem;
  }
  
 
  .stories-wrapper p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
.story {
    margin-top: 4rem;
}
  .story p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: left;
    width: 80%;
    margin-left: 1rem;
    
  
  }
  
  
  .story i {
    font-size: 2rem;
    color:#ced7d8;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  
  
  
  
  .story-person img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  
  .story-person {
    display: flex;
    margin-left: 1rem;
  }
  
  .story-person h3 {
    margin-left: 1rem;
    font-size: 1rem;
    color:#568b9b;
    margin-bottom: 0.3rem;
  }
  
  .story-name span {
    color:grey;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-left: 1rem;
    
  }
  
  .stories-wrapper a {
    text-decoration: none;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    text-align:center;
    text-transform: uppercase;
    font-size: 0.8rem;
    background-color: #ff9000;
    margin-right: 6rem;
    margin-left: 6rem;
    margin-top: 3rem;
    color: #fff;;
    border-radius: 7%;
  }
  
  
.footer-wrapper {
    margin-top: 5rem;
}
